<% if obj.errors.any? %>
<div class="alert alert-danger" role="alert">
  <h2><%= pluralize(obj.errors.count, "error") %> prohibited this article from being created:</h2>
  <ul>
    <% obj.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
</div>
<% end %>